<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>OAuth2 Gateway</title>
</head>

<body>
<p><a href="oauth2-eureka-server/">oauth2-eureka-server</a></p>
<p><a href="oauth2-eureka-server/hystrix/">oauth2-eureka-server/hystrix</a></p>
<p><a href="oauth2-eureka-server/hystrix/monitor?stream=https%3A%2F%2Fmy-oauth2%3A8080%2Factuator%2Fhystrix.stream">https://my-oauth2:8080/oauth2-eureka-server/hystrix/monitor?stream=https://my-oauth2:8080/actuator/hystrix.stream</a></p>
<p><a href="oauth2-admin-server/">oauth2-admin-server</a></p>
<p><a href="oauth2-server/">oauth2-server</a></p>
<p><a href="oauth2-resource-server/">oauth2-resource-server</a></p>
<p><a href="oauth2-client/">oauth2-client</a></p>

</body>
</html>